@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.main {
    background-image: url("./img/bg-login.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.caja_texto {
    text-transform: uppercase;
    letter-spacing: 7px;
}

.txt_titulo {
    letter-spacing: 4px;
}

.fondo_navbar {
    background-image: url("./img/navbar.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.img_btn1 {
    background-image: url("./img/btn1.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}