@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.main {
    background-image: url("./img/bg-login.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

@media only screen and (max-width: 640px) {
  .main {
    background-image: url("./img/bg-movil.jpg");
     background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }
}

.modal_scroll {
  overflow-y: scroll;
  height: 26rem;
}

@media only screen and (max-width: 640px) {
  .modal_scroll {
    overflow-y: hidden;
    overflow-x: hidden;
    width: 25rem;
    height: 23rem;
  }
}

.caja_texto {
    text-transform: uppercase;
    letter-spacing: 7px;
}
.texto_login {
  text-transform: uppercase;
  letter-spacing: 3px;
}

.txt_titulo {
    letter-spacing: 4px;
}

.fondo_navbar {
    background-image: url("./img/navbar.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.fondo {
  background-image: url("./img/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.btn_calendar{
  background-color: #122A5C;
  }

/*ToolTip*/
/* Tooltip container */
.tooltip {
    position: absolute;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
  }
  
  /* Tooltip text */
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 15rem;
    top: 100%;
    left: 0%;
    background-color: #ededed;
    color: #949494;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
   
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 2;
  }
  
  /* Show the tooltip text when you mouse over the tooltip container */
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }

/*En ToolTip*/